<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preload" as="font" type="font/woff2" href="/fonts/playfair-display-normal.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/fonts/dm-sans.woff2" crossorigin>
{{- if and (eq .Kind "page") (eq .Type "posts") }}
  {{- if .Params.image_display }}
<link rel="preload" as="image" href="{{ .Params.image_display }}">
  {{- else if .Params.image }}
    {{- $img := resources.Get .Params.image }}
    {{- if $img }}
      {{- $md := $img.Resize "800x webp" }}
<link rel="preload" as="image" href="{{ $md.RelPermalink }}" type="image/webp">
    {{- end }}
  {{- end }}
{{- end }}
{{ partial "seo.html" . }}
{{ $css := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
